@font-face{
    font-family: Jakarta-text;
    src: url("./assets/fonts/PlusJakartaText-Regular\ copy.otf");
    font-weight: 400;
}

@font-face{
    font-family: Jakarta-text;
    src: url("./assets//fonts/PlusJakartaText-Light\ copy.otf");
    font-weight: 200;
}

@font-face{
    font-family: Jakarta-display;
    src: url("./assets/fonts/PlusJakartaDisplay-Medium\ copy.otf");
    font-weight: 400;
}

@font-face{
    font-family: Jakarta-display;
    src: url("./assets/fonts/PlusJakartaDisplay-Bold\ copy.otf");
    font-weight: 600;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{
    outline: none;
    background: transparent;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol{
    list-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: rgba(250,250,250, 1);
}